sourceDir = "~/src/dotfiles"
encryption = "age"

#####
#[diff]
#  pager = "delta"

[merge]
command = "{{ .chezmoi.homeDir }}/scripts/chezmoi-merge.sh"
args = [
	"{{ "{{" }} .Destination {{ "}}" }}",
	"{{ "{{" }} .Target {{ "}}" }}",
	"{{ "{{" }} .Source {{ "}}" }}",
]

[age]
identity = "{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt"
recipient = "age15e0rfcwjhr0s34d5frmgj065ptzkr5m9aej55ulw4v0v70887gysug2g88"
